{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <p class="text-center text-danger">Le serveur a rencontré une erreur inconnue. Merci de contacter le support.</p>
    </div>
{% endblock %}
