{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <p class="text-center text-danger">Vous ne pouvez pas réaliser cette action ou accèder à cette page.</p>
    </div>
{% endblock %}
