<h3>Mot de passe oublié</h3>

Pour définir un nouveau mot de passe, cliquez sur le lien suivant :<br><br>

<a href="{{ url('reset_password', {'token': user.token}) }}">{{ url('reset_password', {'token': user.token}) }}</a><br><br>

L'équipe TodoList.
