<h3>Vos identifiants de connexion</h3>

Voici les identifiants de connexion à votre interface TodoList :<br><br>

login : {{ user.username }}<br>
mot de passe : {{ user.password }}<br><br>

L'équipe TodoList
