<h3>Mise à jour de vos identifiants</h3>

Votre login et/ou email a été mise à jour, voici les informations fournies :<br><br>

login : {{ user.username }}<br>
email : {{ user.email }}<br><br>

L'équipe TodoList