{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'action' : path('reset_password', {'token': app.request.get('token')})}) }}
        {{ form_widget(form.token, {'value' : app.request.get('token')}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier le mot de passe</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
